body{ 
    background-color: #0e183e;
}

.date { 
    background-color: #ffffff;
}

.num_of_sessions { 
    background-color: #ffffff;
}

.pre_performance { 
    background-color: #ffffff;
}

.session_gallery { 
    background-color: #ffffff;
}

.performance { 
    background-color: #ffffff;
}

.sub_menu { 
    background-color: #f8fafb;
}