body{ 
    background-color: #fff;
}

.upper_back{
    background-color: #050a30;
}

.date { 
    background-color: #ffffff;
}

.num_of_sessions { 
    background-color: #ffffff;
}

.pre_performance { 
    background-color: #ffffff;
}

.session_gallery { 
    background-color: #ffffff;
}

.performance { 
    background-color: #ffffff;
}

.sub_menu { 
    background-color: #f8fafb;
}

.add > button { 
    background-color: #f8fafb;
    border-radius: 8px;
    color: #050a30;
}
.session-delete > button { 
    color: #050a30;
    border: none;
}