body{ 
    background-color: #040406;
}

.date { 
    background-color: #5258667d;
}

.num_of_sessions { 
    background-color: #5258667d;
}

.pre_performance { 
    background-color: #5258667d;
}

.session_gallery { 
    background-color: #5258667d;
}

.performance { 
    background-color: #5258667d;
}