
.date { 
border-radius: 10px;
}

.today { 
    border-bottom: 1px solid rgb(144, 143, 143);
}

.display-date{ 

}


.num_of_sessions { 
    border-radius: 10px;
}

.num_of_sessions > h2 { 
    border-bottom: 1px solid rgb(144, 143, 143);
}

.pre_performance { 
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    
    
}
.pre_performance > h2 { 
    border-bottom: 1px solid rgb(144, 143, 143);
    margin:0px;
    padding-left: 5%;
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
}


.pre_perf_container { 
    margin-left: 5%;
}
.session_gallery { 
    border-radius: 10px;
}
.sub_menu { 
    
}

.sub_menu > p{ 
    margin: 5px;
    margin-left: 5%;
}

#add_info { 
    display: none;
}
.performance { 
    border-radius: 10px;
}

.heading { 
    margin-top:10%;
    display: flex;   
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#exercise_info{ 
    display: none;
}

#sessions_list{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.session-item{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    
}

.session-item > p { 
    margin-left: 5%;
}
