.heading > h1{ 
    font-size: 50px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin:0px ;
    margin-left: 5px;

}

.heading > p{ 
    font-size: medium;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    margin:0px ;
    margin-left: 10px;

}