.body{
    font-family: 'Nunito Sans', sans-serif;
}

.heading > h1{ 
    font-size: 50px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin:0px ;
    margin-left: 5px;

}

.heading > p{ 
    font-size: medium;
    color: "black";
    font-family: 'Nunito Sans', sans-serif;
    margin:0px ;
    margin-left: 10px;

}

.session_gallery {
    font-family: 'Nunito Sans', sans-serif;
    color: "black";
}

.sub_menu > p { 
    color: #b5b7b9;
}
